* {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  font-size: clamp(1px, 10px, 100px);
}

.App {
  --navbar-size: 52px;
  background-color: gray;
  display: grid;
  min-width: 100px;
}

.navbar {
  background-color: green;
  display: flex;
  grid-area: a;
}

@media screen and (orientation: portrait) {
  .App {
    grid-template-areas: "a" "b";
    grid-template-rows: var(--navbar-size) auto;
  }
  .navbar {
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
  }
}

@media screen and (orientation: landscape) {
  .App {
    grid-template-areas: "a b";
    grid-template-columns: var(--navbar-size) auto;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: b;
}

.content {
  display: flex;
  height: 100px;
  width: 100%;
}