* {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  font-size: clamp(1px, 10px, 100px);
}

.App {
  --navbar-size: 52px;
  background-color: gray;
  display: grid;
  min-width: 100px;
}

.nav-bar {
  background-color: green;
  display: flex;
  grid-area: a;
}

.dropdown {
  width: var(--navbar-size);
  height: var(--navbar-size)

}

.nav-items {
  background-color: blue;
}

@media screen and (orientation: portrait) {
  .App {
    grid-template-areas: "a" "b";
    grid-template-rows: var(--navbar-size) auto;
    transition-property: all;
    transition-duration: 1s;
  }
  .App.activeNav {
    transform: translateX(-50%);
    transition-property: all;
    transition-duration: 1s;
  }
  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  .nav-items.activeNav {
    background-color: yellow;
  }
}

@media screen and (orientation: landscape) {
  .App {
    grid-template-areas: "a b";
    grid-template-columns: var(--navbar-size) auto;
  }
  .nav-bar {
    flex-direction: column;
    justify-content: space-between;
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: b;
}

.content {
  display: flex;
  height: 100px;
  width: 100%;
}